# The key material used to decode the NextAuth.js issued JWTs. Defaults to `NEXTAUTH_SECRET`
NEXTAUTH_SECRET=

# ChatGPT API
OPENAI_API_KEY=

# Whisper
WHISPER_API_KEY=
WHISPER_API_PATH=

# google auth key
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# github auth key
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# TIDB
DATABASE_URL=

# Mongodb
PASSWORD=
PUBLICH_KEY=
PRIVATE_KEY=
MONGODB_API=
MONGODB_API_KEY=
MONGODB_DATASOURCE=

# PROXY
PROXY_API=

# Aliyun
ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=

# Aliyun NLS
ALIYUN_NLS_APPKEY=
ALIYUN_NLS_TOKEN_URI=http://nls-meta.cn-shanghai.aliyuncs.com
ALIYUN_NLS_URI=wss://nls-gateway-cn-shenzhen.aliyuncs.com/ws/v1
ALIYUN_NLS_HTTPS=https://nls-gateway-cn-shenzhen.aliyuncs.com/stream/v1/asr

# Aliyun oss
ALIYUN_BUCKET=
ALIYUN_REGION=

# Fyun
FYUN_APP_ID=
FYUN_API_KEY=
FYUN_API_SECRET=

# CDN
CDN_HOST=http://o.innev.cn